<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Robo Resume - Home Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="${message}">  Welcome...default page...no other message available</h1>-->


<!--<br/>-->
<!--<a href="/enterPerson"> <input type="submit" value="Enter New Person's Data"/></a>-->
<!--<p></p>-->


<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Robo Resume - Home Page</title>

        <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
        <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

        <!--&lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
        <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
        <!--<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

        <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
        <!--<link href="css/creative.min.css" rel="stylesheet">-->

        <!--&lt;!&ndash; Modifications in styles for this template &ndash;&gt;-->
        <!--<link href="css/additionals.css" rel="stylesheet">-->



        <!--===== Custom Stylesheet ====-->
        <link href="additionals.css" rel="stylesheet">

    </head>

<body id="page-top">




<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Welcome to Robo Resume Application</h1>
            <hr>
            <p>Create your professional resume in 15 minutes!</p>
            <a class="btn btn-primary btn-xl" href="/enterPerson">start your resume</a>
        </div>
    </div>
</header>

<!-- Footer -->
<div th:replace="base :: footer"></div>

</body>

</html>
